.container {
  height: 100px;
  padding: 0 50px;
  background-color: #d1411e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.container .item {
  flex: 1;
  display: flex;
  align-items: center;
}

.container .item:nth-child(2) {
  flex: 3;
  justify-content: center;
}

.container .item:last-child {
  justify-content: flex-end;
}

.container .item .callButton {
  background-color: white;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.container .item .texts {
  margin-left: 20px;
  color: white;
}

.container .item .texts .text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.container .item .texts .text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.container .item .list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container .item .list .listItem {
  margin: 20px;
  font-weight: 500;
}

.container .item .cart {
  position: relative;
}

.container .item .cart .counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d1411e;
}

@media screen and (max-width: 480px) {
  .container .item:nth-child(1) {
    flex: 3;
  }
  .container .item:nth-child(2) {
    display: none;
  }
}
